<div class="registration_panel">
	<p>First Name {{first_name}}</p> 
	<input ng-model="first_name" />
	<p>Last Name</p>
	<input ng-model="second_name" />
	<p>Date of birth</p>
	<select ng-model="month" ng-options="m as m.name for m in months" ng-change="generateDays(month)"></select>
	<select ng-model="year" ng-options="y as y.value for y in years" ></select>
	<select ng-model="day" ng-options="d as d.value for d in days"></select>
	<p>Password</p>
	<input type="password" ng-model="password" />

	<p>Confirm Password</p>
	<input type="password" ng-model="confirm_password" />
	
	<p>Email</p>
	<input  ng-model="email" />

	<p>Login</p>
	<input  ng-model="login" />

	<a ng-click="addStudentToDatabase()"><button >Continue Registration</button></a>
</div>